/* * {
  border: 1px solid red;
} */

.header-right {
  justify-content: space-around;
  width: 20%;
}

header div {
  align-items: center;
  display: flex;
  margin: 10px;
}

header {
  background-color: rgb(196, 196, 196);
  display: flex;
  font-size: 30px;
  justify-content: space-between;
}

.pergunta-e-tempo {
  display: flex;
  flex-direction: column;
}

.each-question {
  margin: 20px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.question-box {
  padding: 10px;
  width: 40%;
  background-color: #c4c4c4;
  height: 350px;
  text-align: center;
}

.question-box h3 {
  background-color: #dddddd;
  padding: 10px;
}

.alternatives {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

button.answer {
  font-size: 30px;
  background-color: #c4c4c4;
  margin: 20px;
}

.correct-answer {
  border: 3px solid green;
}

.incorrect-answer {
  border: 3px solid red;
}

.time {
  display: flex;
}

.time p {
  color: red;
  font-size: 30px;
  margin: 10px 50px 0;
}

div.proxima-pergunta {
  display: flex;
  justify-content: center;
}

button.proxima-pergunta {
  font-size: 40px;
  background-color: #23fc00;
  height: 70px;
  width: 400px;
}
