.header-right {
  justify-content: space-around;
  width: 20%;
}

header div {
  align-items: center;
  display: flex;
  margin: 10px;
}

header {
  background-color: rgb(196, 196, 196);
  display: flex;
  font-size: 30px;
  justify-content: space-between;
}

.alternative-button {
  background-color: #c4c4c4;
}

.correct-answer {
  background-color: #c4c4c4;
  border: 3px solid green;
}

.incorrect-answer {
  background-color: #c4c4c4;
  border: 3px solid red;
}
