.container-questions {
  background-color: grey;
  display: flex;
  flex-direction: column;
  height: 25vh;
  margin: 25% auto 50%;
  width: 75vw;
}

.container-Header {
  background-color: red;
  display: flex;
  width: 100%;
}

.container-renderHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.container-imgPlayer {
  display: flex;
  width: fit-content;
}

.container-player {
  display: flex;
  width: fit-content;
}

.container-points {
  display: flex;
  width: fit-content;
}
